/* Global */
:root {
  --spacer: 1rem;
  --dark: #3e3f3a;
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Menu Icon */
.menu-icon {
  margin: calc(var(--spacer) * 0.5);
}

.menu-icon div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--dark);
  margin: calc(var(--spacer) * 0.5) 0;
}

[data-animated] div {
  transition: 0.4s;
}

/* Animation */
.change div:nth-child(1) {
  translate: 0 12px;
  rotate: -45deg;
}

.change div:nth-child(2) {
  opacity: 0;
}

.change div:nth-child(3) {
  translate: 0 -12px;
  rotate: 45deg;
}
